/*公共样式*/

/*初始化样式 开始*/
body,html,ul,li,p,div,dl,dt,dd,h1,h2,h3,h4,h5,input,a,button{margin:0;padding:0;}
body{font-size:12px;font-family:'微软雅黑,arial';color:#404040;}
ul,li{list-style:none;}
button{border:none;}
a{border:none;color:#404040;text-decoration:none;}
a:hover{color:#ff8800;}
input{outline:none;border:none;}
img{border:none;display:inline-block;float:left;}
/*初始化样式 结束*/

/*整体居中*/

.header_top,.header_search,.header_nav,.footer_TN_faq{width:1190px;margin:0 auto;}


/*公用样式icon*/
.header_icon{display:inline-block;background:url(../images/common/header_v3.png) no-repeat;}
.icon_bg{display:inline-block;background:url(../images/common/nav_bg.png) no-repeat;}
.index_icon{display:inline-block;background:url(../images/common/index_icon_v2.png)no-repeat;}
/*header*/

#header .header_top_bg{height:29px;border-bottom:1px solid #eee;background:#f8f8f8;}
.login_menu{float:left;}
.login_menu .login_menu_list li,.header_top_nav li{float:left;line-height:29px;}
.login_menu .login_menu_list li a{padding:0 5px;}
.header_top_nav{float:right;}
.header_top_nav li{padding:0 15px;position:relative;}
.header_top_nav .header_top_color a{color:#ff8800;}
.header_top_nav li .icon_arrow{position:absolute;top:13px;right:2px;}
.header_top_nav .header_top_webmap{margin-right:18px;}
.header_logo_pic a{overflow:hidden;}

/*背景图标位置*/
.icon_arrow{background-position:-8px -13px;width:5px;height:3px;}
.header_top_nav .header_top_weibo,.header_top_nav .header_top_phone,.header_top_nav .header_top_weixin{height:29px;}
.header_top_nav .header_top_weibo .icon_arrow{top:8px;left:8px;background-position:-40px -49px;width:18px;height:14px;}
.header_top_nav .header_top_weibo a:hover .icon_arrow{background-position:-86px -49px;top:9px;}
.header_top_nav .header_top_weixin .icon_arrow{top:8px;left:8px;background-position:-63px -49px;width:19px;height:15px;}

.header_top_nav .header_top_phone .icon_arrow{top:0;left:-1px;background:url(../images/common/head_icon_qrcode.gif) no-repeat center;width:30px;height:30px;}
.header_top_nav .header_top_phone,.header_top_nav .header_top_weixin{position:relative;}
.header_top_nav .header_top_phone .top_phone_app{position:absolute;left:-200px;top:30px;}
.header_top_nav .header_top_weixin .top_weixin_code{position:absolute;left:-272px;top:30px;border:1px solid #eee;border-top:none;box-shadow:2px 2px 2px #f7f7f7;}

/*我的订单下拉*/
.header_top_nav .header_top_hover{background:#fff;border-left:1px solid #eee;border-right:1px solid #eee;border-bottom:1px solid #fff;padding:0 14px;}
.header_top_nav .header_top_order .top_order_list{background:#fff;position:absolute;border:1px solid #eee;border-top:none;width:100%;box-shadow:2px 2px 2px #f7f7f7;left:-1px;}
.header_top_nav .header_top_order .top_order_list a{display:block;text-align:center;}

/*网页地图下拉*/
.header_top_nav .header_top_webmap .top_map_list{background:#fff;position:absolute;width:1148px;left:-993px;border:1px solid #eee;border-top:none;box-shadow:2px 2px 2px #f7f7f7;padding:15px 20px 50px;}
.header_top_nav .header_top_webmap .top_map_list dt{height:190px;padding:0 40px;border-left:1px solid #f5f5f5;float:left;font-size:16px;}
.header_top_nav .header_top_webmap .top_map_list ul{float:left;width:100px;position:relative;}
.header_top_nav .header_top_webmap .top_map_list ul li{float:none;}
.header_top_nav .header_top_webmap .top_map_list .map_list_gotour{border-left:none;color:#2e9900;}
.header_top_nav .header_top_webmap .top_map_list .map_list_gocount{color:#f69100;}
.header_top_nav .header_top_webmap .top_map_list .map_list_goguide{color:#02609d;}
.header_top_nav .header_top_webmap .top_map_list .map_list_goserve{color:#bf4b56;}

.icon_new{position:absolute;width:11px;height:11px;background-position:-41px -9px;top:10px;right:20px;}
.icon_hot{position:absolute;width:11px;height:11px;background-position:-61px -9px;top:10px;right:12px;}

/*search*/
.header_search{clear:both;height:100px;}
.header_search .header_logo,.header_search .header_logo .header_logo_pic,.header_search .header_logo .header_localcity{float:left;}
.header_search .header_localcity{position:relative;}
.header_search .header_localcity .header_nowcity p{text-align:center;position:relative;width:82px;margin-top:30px;font-size:14px;line-height:1.6;cursor:pointer;}
.header_search .header_localcity .header_nowcity p img{margin-top:25px;}
.header_search .header_localcity .header_nowcity .header_cityname{position:absolute;z-index:2000;background:#fff;width:80px;left:0;}
.header_search .header_localcity .header_nowcity .header_cityname_active{color:#ff8800;border:1px solid #eee;border-bottom:none;}
.header_search .header_localcity .header_nowcity .icon_arrow{position:absolute;top:9px;right:9px;z-index:2001;}
/*热门城市*/
.header_search .header_allcity{position:absolute;top:50px;background:#fff;border:1px solid #eee;box-shadow:2px 2px 2px #f7f7f7;overflow:hidden;padding:20px;}
.header_search .header_allcity_hottitle{color:#999;line-height:28px;}
.header_search .header_allcity_hotcity{width:440px;}
.header_search .header_allcity_hotcity li{float:left;padding-right:23px;line-height:1.5;}
.header_search .header_allcity_hotcity li a:hover{text-decoration:underline;}
/*搜索城市*/
.header_search .header_allcity .header_search_citybox{position:relative;clear:both;}
.header_search .header_allcity .header_search_citybox input{height:30px;clear:both;width:400px;border:1px solid #ddd;margin-top:10px;padding-left:30px;color:#999;}
.header_search .header_allcity .header_search_citybox .icon_arrow{position:absolute;top:18px;left:8px;background-position:-104px -56px;width:15px;height:14px;}
.header_search .header_allcity .header_allcity_first{margin-top:15px;margin-bottom:10px;border-bottom:1px solid #ddd;height:27px;}
.header_search .header_allcity .header_allcity_first li{float:left;width:50px;text-align:center;font:12px 'Tahoma';line-height:2;cursor:pointer;}
.header_search .header_allcity .header_common_word{font:12px 'Tahoma';display:none;}
.header_search .header_allcity .header_common_word p{padding-right:20px;clear:both;}
.header_search .header_allcity .header_common_word ul{width:400px;}

/*搜索城市显示地址*/
.header_search .header_allcity .header_common_word p,.header_search .header_allcity .header_common_word ul,.header_search .header_allcity .header_common_word ul li{float:left;}
.header_search .header_allcity .header_common_word li{padding-right:20px;padding-bottom:10px}
.header_search .header_allcity .header_common_word a:hover{text-decoration:underline;}
.header_search .header_allcity .header_common_word .header_first_color a{color:#ff8800;}
.header_search .header_allcity .header_allcity_active{border:1px solid #eee;border-top:3px solid #ff8800;border-bottom:1px solid #fff;background:#fff;}

/*搜索框正文*/
.header_searchbox{float:left;margin-left:50px;}
.header_searchbox .header_searchbox_con{position:relative;float:left;width:490px;height:34px;border:3px solid #ff8800;margin-top:30px;line-height:34px;}
.header_searchbox .header_searchbox_con p{float:left;cursor:pointer;display:inline-block;height:34px;background:#f8f8f8;color:#999;border-right:1px solid #eee;width:100px;text-align:center;}
.header_searchbox .header_searchbox_con p .icon_arrow{background-position:-8px -19px;width:7px;height:4px;margin:3px auto;}
/*点击所有产品显示*/
.header_searchbox .header_searchbox_con .header_searchbox_list{position:absolute;top:34px;line-height:34px;background:#fff;border-left:1px solid #eee;border-right:1px solid #eee;}
.header_searchbox .header_searchbox_con .header_searchbox_list li{border-bottom:1px solid #eee;width:79px;padding-left:20px;color:#999;}
.header_searchbox .header_searchbox_con .header_searchbox_list .header_searchbox_active{background:#efefef;color:#333;cursor:pointer;}
.header_searchbox .header_searchbox_con input{float:left;height:34px;border:0;margin-left:20px;width:170px;}
.header_searchbox .header_searchbox_con .header_searchbox_hotcity{float:left;margin-top:2px;line-height:30px;}
.header_searchbox .header_searchbox_con .header_searchbox_hotcity li{float:left;width:30px;height:30px;text-align:center;border-radius:40% ;background:#eee;margin-left:10px;}

.header_search .header_searchbox_con .header_searchimg .btnicon{cursor:pointer;background-position:0 -185px;width:17px;height:15px;position:absolute;top:10px;left:25px;}
.header_search .header_searchbox_con .header_searchimg{float:right;width:65px;background:#ff8800;border-right:0;position:relative;}
.header_search .header_searchbox .header_searchbox_high{float:left;width:70px;line-height:100px;margin-left:20px;cursor:pointer;color:#999;}

/*搜索框获取焦点之后 显示内容*/
.header_search .header_searchbox .header_hotsearch{background:#fff;position:absolute;top:102px;border:1px solid #eee;box-shadow:2px 2px 2px #f7f7f7;border-top:none;width:455px;padding:20px;}
.header_search .header_searchbox h3{padding-bottom:20px;float:left;color:#ff8800;font-size:16px;font-weight:normal;}
.header_search .header_searchbox .header_click_close{float:right;font-family:'Tahoma';font-weight:bolder;color:#999;cursor:pointer;}
.header_search .header_searchbox .header_click_close:hover{color:#ff8800;}
.header_search .header_hotsearch .header_hotsearch_list{clear:both;overflow:hidden;border-top:1px dashed #999;}
.header_search .header_hotsearch .header_hotsearch_list .header_hotsearch_title{font-weight:bolder;float:left;height:20px;padding-right:20px;padding-top:10px;}
.header_search .header_hotsearch .header_hotsearch_list .header_hotsearch_city{float:left;padding-top:10px;width:400px;}
.header_search .header_hotsearch .header_hotsearch_list .header_hotsearch_city li{float:left;padding-right:20px;padding-bottom:5px;}
.header_search .header_hotsearch .header_hotsearch_list .header_hotsearch_city li a{color:#666;}
.header_search .header_hotsearch .header_hotsearch_list .header_hotsearch_city li a:hover{color:#ff8800;}

/*点击高级搜索 显示内容*/
.header_search .header_searchbox .header_high_con{background:#fff;position:absolute;top:100px;border:2px solid #ff8800;width:642px;padding:20px;}
.header_clear{clear:both;margin-bottom:10px;overflow:hidden;}
.header_search .header_high_con .header_normal_title{overflow:hidden;clear:both;border-top:1px dashed #999;padding-top:10px;margin-bottom:20px;}
.header_search .header_high_con .header_normal_title p,.header_search .header_high_con .header_normal_title form,.header_search .header_high_con .header_normal_title input,.header_search .header_high_con .header_normal_title ul{float:left;}
.header_search .header_high_con .header_normal_title p{width:80px;font-weight:bolder;}
.header_search .header_high_con .header_normal_title input{border:1px solid #ddd;width:200px;height:28px;color:#999;padding-left:10px;}
.header_search .header_high_con .header_normal_title ul{width:457px;}
.header_search .header_high_con .header_normal_title ul li{position:relative;line-height:2;float:left;padding:0px 8px;cursor:pointer;margin-right:15px;margin-bottom:10px;}
.header_search .header_high_con .header_checkbox_active{background:#ff8800;color:#fff;}
.header_search .header_high_con .checkbox{background:#fff;display:inline-block;width:11px;height:11px;border:1px solid #dfdfdf;margin-right:3px;margin-top:2px;}
.header_search .header_high_con .spirit{background:url(../images/common/spirit.png) no-repeat;position:absolute;}
.header_search .header_high_con .checkbox_got{display:none;background-position:-33px -90px;width:10px;height:10px;left:10px;top:6px;}
.header_search .header_high_con .header_normal_title .header_nolimit{font-weight:normal;width:50px;text-align:center;cursor:pointer;}
.header_search .header_high_con .header_normal_title .header_checkbox_more{float:right;width:50px;font-weight:normal;cursor:pointer;}
.header_search .header_high_con .header_normal_title .header_normal_price span{float:left;width:20px;text-align:center;line-height:20px;}
.header_search .header_high_con .header_normal_title .header_normal_price input{height:20px;width:50px;padding-left:5px;}
.header_search .header_high_con .header_normal_morefilter{border-top:none;}
.header_search .header_high_con .header_normal_morefilter h3{border-bottom:1px dashed #eee;float:none;line-height:2;padding:0;margin-bottom:20px;}

/*显示全部按钮*/

.header_search .header_high_con .header_normal_showall{border-top:1px solid #eee;}
.header_search .header_high_con .header_normal_showcon{position:relative;width:340px;margin:0 auto;height:7px;border:1px solid #e7e7e7;box-shadow:2px 2px 2px #eaeaea;}
.header_search .header_high_con .header_normal_showcon a{position:absolute;width:340px;height:22px;background:#fff;top:-15px;text-align:center;color:#2e9700;}
.header_search .header_high_con .header_normal_showcon a:hover{color:#ff8800;}

/*搜索按钮*/
.header_search .header_high_con .header_normal_btn{width:480px;margin:0 auto;text-align:center;line-height:40px;margin-top:20px;}
.header_search .header_high_con .header_normal_btn input{cursor:pointer;width:100px;height:40px;color:#fff;background:#ff8800;border-radius:2px;border:0;margin-right:10px;font-size:16px;letter-spacing:2px;}
.header_search .header_high_con .header_normal_btn a{color:#2e9700;}
.header_search .header_high_con .header_normal_btn a:hover{color:#ff8800;}

/*搜索框右边图片*/
.header_num{float:right;}

/*导航*/
.header_nav_bg{position:relative;border-bottom:3px solid #38c249;height:31px;}
.header_nav .header_nav_list,.header_nav{clear:both;}
.header_nav .header_nav_list .header_nav_first_list{float:left;line-height:31px;padding:0 18px;font-size:16px;position:relative}
.header_nav .header_nav_list .header_nav_first_list .icon_nav{position:absolute;background-position:-77px -9px;width:11px; height:9px;top:27px;left:50%;}
.header_nav .header_nav_list .header_nav_active{background:#4ECE5A;}
.header_nav .header_nav_list .header_nav_active a{color:#FFF;}
.header_nav .header_nav_list li a{color:#2b8f08;}
.header_nav .header_nav_list .nav_list_bg{width:8px;height:4px;background-position:-16px -456px;position:absolute;top:13px;right:5px;}

/*二级菜单*/
.header_nav .header_nav_list .header_nav_second_con .header_nav_second_list li{float:left;line-height:35px;margin:0 10px;}
.header_nav .header_nav_list .header_nav_second_con{position:absolute;width:1190px;left:-68px;top:34px;height:35px;}
.header_nav .header_nav_list .header_nav_second_con .header_nav_second_list li a{color:#333;font-size:14px;padding:2px 5px;}
.header_nav .header_nav_list .header_nav_second_con .header_nav_second_list .second_color a{color:#ff8800;}
.header_nav .header_nav_list .header_nav_second_con .header_nav_second_list a:hover{color:#fff;}
.header_nav .header_nav_list .header_nav_second_con .header_nav_second_list .header_nav_second_list_active{background:#4ece5a;}
.header_nav_second_bg{position:absolute;height:35px;background:#fff;width:100%;}
/*导航热门标志*/
.header_nav .header_nav_list .icon_nav_top{position:absolute;background-position:-38px -1274px;width:36px;height:17px;top:-7px;right:-7px;z-index:3}

/*footer*/
#footer{clear:both;}
.footer_TN_faq{padding-top:30px;}
.footer_TN_faq dl{float:left;padding-right:10px;padding-left:40px;}
.footer_TN_faq dt{height:24px;font-size:14px;line-height:20px;font-weight:bolder;}
.footer_TN_faq dd a{line-height:24px;color:#999;}
.footer_TN_faq .tiexin_serv{margin-bottom:20px;color:#999;position:relative;float:right;width:260px;line-height:24px;border:0 none;padding:6px 20px;background:#f6f6f6;border-radius:10px;}
.footer_TN_faq .tiexin_serv .serv_car{position:absolute;background:url(../images/common/serv_24.png) no-repeat;display:block;width:96px;height:66px;bottom:0;right:-40px;}
.footer_TN_faq .tiexin_tt{font-weight:bolder;background:url(../images/index/common_foot.png) no-repeat -211px 2px;padding-left:25px;}


.footer_trav_sev{background:#f5f5f5;padding:20px 0 30px 0;clear:both;margin-top:30px;overflow:hidden;}
.footer_trav_sev .ts_box{width:990px;margin:0 auto;overflow:hidden;}
.footer_trav_sev .ts_box i{width:35px;height:35px;display:block;overflow:hidden;margin:0 auto;float:left;background:url(../images/common/common_foot_2.png) no-repeat 0 -59px}
.footer_trav_sev .ts_box .ts_1{background-position:0 0;}
.footer_trav_sev  .trav_l {float:left;margin-left:10px;border-right:1px solid #d8d8d8;margin-right:20px;}
.footer_trav_sev  .trav_l .tl_tt{margin-bottom:10px;line-height:35px;font-weight:bolder;font-size:14px;}
.footer_trav_sev  .trav_l .tl_w{width:100px;}
.footer_trav_sev  .trav_l .tl_w_first{width:240px;}
.footer_trav_sev  .trav_l .tl_w a{width:65px;color:#999;display:inline-block;}
.footer_trav_sev .ts_box .ts_2{background-position:-40px 0;}
.footer_trav_sev .ts_box .ts_3{background-position:-80px 0;}
.footer_trav_sev .ts_box .ts_4{background-position:-120px 0;}
.footer_trav_sev .ts_box .ts_5{background-position:-160px 0;}

.footer_trav_sev .trav_l_last{border-right:none;}
.footer_trav_sev .trav_l_last p{width:150px;margin-bottom:10px;}

.footer_three_trav{background:#60ca6e;}
.footer_three_trav .thr_trav{cursor:pointer;background:url(../images/common/thr_sun.jpg)no-repeat;width:990px;height:62px;margin:0 auto;position:relative;}
.footer_three_trav .thr_trav p{position:absolute;right:10px;color:#fff;font:12px/20px "arial";padding:10px 0;}
.footer_three_trav .thr_trav .service_phone_foot_tel{top:15px;right:25px;font:20px/32px "arial";}
.footer_fourImgs,.footer_img_place,.footer_TN,.footer_slide{width:990px;margin:10px auto;overflow:hidden;clear:both;}
.footer_fourImgs img{border:1px solid #eee;margin:15px 3px;}
.footer_TN{text-align:center;color:#777;font-size:12px;line-height:2;}
.footer_TN a{color:#777;}
.footer_thr_img{width:551px;margin:0 auto;}
.footer_slide_box{color:#999;width:920px;position:relative;overflow:hidden;float:left;height:22px;line-height:22px;}
.footer_slide_box li{float:left;}
.footer_slide span{width:60px;display:inline-block;float:left;line-height:22px;}
.footer_slide_box .footer_slide_list{position:absolute;}

.footer_trav_crop{width:1100px;margin:0 auto;height:47px;border-bottom:1px solid #eee;padding-bottom:10px;margin-bottom:10px;overflow:hidden;}

.footer_link{width:1000px;margin:10px auto 30px;overflow:hidden;line-height:2;}
.footer_link dt{float:left;width:60px;clear:both;color:#999;}
.footer_link dd{float:left;width:912px;}
.footer_link dd a{color:#999;}
.footer_link dd a:hover{color:#f80;}