.header{width:1200px;margin:20px auto;height:61px}
.header img{height:61px;width:169px;float:left;border-right:1px solid #eee}
.header p{width:100px;margin-left:10px;font-size:24px;line-height:47px;color:#333;float:left;}

.reg_content_bg{background:url(../images/reg/register_bg.jpg)no-repeat top center;}
.reg_content{width:1200px;margin:0 auto;padding-top:30px;overflow:hidden;}
.reg_content_right{float:right;font-size:14px;color:#fff;margin-bottom:20px;}
.reg_content_right a{margin-left:10px;padding:1px 10px;color:#fff;border:1px solid #fff;}

.reg_title{width:1200px;margin:0 auto;height:60px;overflow:hidden;}
.reg_main_title{position:relative;display:inline-block;background:#43b413;color:#fff;height:60px;line-height:60px;position:relative;font-size:22px;width:100%;clear:both;text-align:center;color:#fff;}
.reg_main_title:hover{color:#fff;}

.reg_main{width:100%;background:#fff;padding:30px 0;height:340px;}
.reg_main form{position:relative;margin:20px auto;padding-left:320px;}
.reg_main form .reg_common{display:inline-block;width:80px;text-align:right;}
.reg_main form input{height:32px;border:1px solid #eee;width:290px;color:#666;padding-left:10px;margin-right:10px;}
.reg_getpas{display:inline-block;padding:2px 5px;background:#eee;border:1px solid #999;cursor:pointer;}
.reg_changes{cursor:pointer;margin-left:63px;}
.reg_btn{display:inline-block;width:312px;height:40px;background:#FF8800;color:#fff;border-radius:3px;line-height:40px;text-align:center;font-size:20px;margin-left:380px;margin-top:10px;cursor:pointer;}
.reg_check{line-height:32px;font-size:14px;text-align:center;width:50px;height:32px;border:1px solid #eee;display:inline-block;position:absolute;}